<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.dao.UserDao">
    <resultMap id="userMap" type="com.xd.entity.User">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="sign" column="sign"/>
        <result property="flag" column="flag"/>
        <result property="img" column="img"/>
    </resultMap>
    <!--登录-->
    <select id="login" resultType="User">
        select * from tb_user
        where account=#{account} and password=#{password} and flag=#{flag}
    </select>
    <!--注册-->
    <insert id="register" parameterType="User">
        INSERT INTO tb_user VALUES (user_seq.nextval,#{account},#{username},#{password},0,#{flag},#{img})
    </insert>
    <!--查找所有的用户-->
    <select id="findAllUser" resultMap="userMap">
        SELECT * FROM  tb_user
    </select>
    <!--根据账号查找特定用户-->
    <select id="findUserByAccount" resultMap="userMap">
        SELECT * FROM tb_user WHERE account=#{account}
    </select>
    <!--根据不同的条件查询出相应的所有的用户记录-->
    <select id="searchUser" parameterType="com.xd.entity.User" resultMap="userMap">
        SELECT * FROM tb_user
        <where>
            <if test="username!=null">
                username LIKE '%${username}%'
            </if>
            <if test="account!=null">
                AND account LIKE '%${account}%'
            </if>
            <if test="flag!=null">
                AND flag=#{flag}
            </if>
        </where>
    </select>
    <!--保存用户修改的信息-->
    <update id="amendMsg" parameterType="com.xd.entity.User">
        UPDATE tb_user SET
        username=#{username},
        account=#{account},
        password=#{password},
        img=#{img}
        WHERE id=#{id}
    </update>
    <!--批量删除用户信息-->
    <delete id="batchDelUser">
        DELETE FROM tb_user WHERE id IN
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--根据ID删除对应的用户信息-->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM tb_user WHERE id=#{id}
    </delete>
    <!--根据ID更新用户信息-->
    <update id="updateUser" parameterType="com.xd.entity.User">
        UPDATE tb_user SET
        username=#{username},
        account=#{account},
        password=#{password},
        img=#{img},
        flag=#{flag}
        WHERE id=#{id}
    </update>
    <!--根据名字模糊搜索得到主键的集合-->
    <select id="searchIdByUsername" parameterType="String" resultType="Integer">
        SELECT id FROM tb_user
        <where>
            <if test="username!=null">
                username LIKE '%${username}%'
            </if>
        </where>
    </select>
</mapper>